@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Druk Wide Bold";
  src: url("../public/fonts/Druk-Wide-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide Bold";
  src: url("../public/fonts/Druk-Wide-Bold.ttf");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

::selection {
  background-color: #6244db;
  color: #f8f8f8;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-secondary text-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cursor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 6666;
}

@media (min-height: 810px) {
  .wrapper {
    min-height: 100vh;
  }
}
