@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Druk Wide Bold";
  src: url("../public/fonts/Druk-Wide-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide Bold";
  src: url("../public/fonts/Druk-Wide-Bold.ttf");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

::selection {
  background-color: #6244db;
  color: #f8f8f8;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-secondary text-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cursor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 6666;
}

@media (min-height: 810px) {
  .wrapper {
    min-height: 100vh;
  }
}

.text-shadow-slate {
  text-shadow: rgb(136, 146, 176) 1.5px 0px 0px,
    rgb(136, 146, 176) 0.540302px 0.841471px 0px,
    rgb(136, 146, 176) -0.416147px 0.909297px 0px,
    rgb(136, 146, 176) -0.989992px 0.14112px 0px,
    rgb(136, 146, 176) -0.653644px -0.756802px 0px,
    rgb(136, 146, 176) 0.283662px -0.958924px 0px,
    rgb(136, 146, 176) 0.96017px -0.279415px 0px;
}

.text-shadow-slate:hover {
  text-shadow: none;
  transition: all 0.1s ease-in-out;
}
